<div class="sponsors">
  {% block content %}
    this is just a test - not sure what to put here
  {% endblock %}
</div>

{#
{% extends "@base/layouts/grid/00-grid.twig" %}
{% block grid_content %}
  {% for sponsor in sponsors %}
  {% include "@molecules/sponsor/sponsor.twig" with {
      "sponsor_blockname": sponsor.blockname,
      "sponsor_modifiers": sponsor.sponsor_modifiers,
      "sponsor_img_src": sponsor.sponsor_img_src,
      "sponsor_link_url": sponsor.sponsor_link_url,
      "sponsor_image_output_image_tag": sponsor.sponsor_image_output_image_tag,
    } %}
  {% endfor %}
{% endblock %}
#}