// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Project

$c-red: hsl(352, 92%, 38%); // Primary Color. Used for links
$c-blue: #2377ce;
$c-green: #38653c;
$c-primary: #38653c;
$c-secondary-light: #ae1478;
$c-secondary: #7b0f55;
$c-secondary-dark: #46002e;
$c-white: white;
$c-gray--light: hsl(0, 0%, 60%);

//do we really need these?
// $c-gray--lightest: hsl(0, 0%, 89%);
// $c-gray--lighter: hsl(0, 0%, 80%);
// $c-gray--light: hsl(0, 0%, 60%);
// $c-gray: hsl(0, 0%, 48%);
// $c-gray--dark: hsl(0, 0%, 40%);
// $c-gray--darker: hsl(0, 0%, 20%);
// $c-gray--darkest: hsl(0, 0%, 16.1%);
// $c-black: black;
// $c-grayish--light: #ecefef;
// $c-black--nearlyopaque: rgba(0, 0, 0, .85);
// $c-black--semitransparent: rgba(0, 0, 0, .5);
// $c-black--transparent: rgba(0, 0, 0, .25);
// $c-nearlyblack: #1a1a1a;

