{% if multiple %}
    <div{{ attributes.addClass('info-box__grid') }}>
      {% for item in items %}
        <div{{ attributes.addClass('info-box--grid-item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div>{{ item.content }}</div>
    {% endfor %}
{% endif %}