.hero {
  background: $c-gray--light;
  min-height: 308px;
  text-align: center;
  color: $c-white;
  text-shadow: 2px 2px $gray-dark;

  &__content {
    padding: $spacing--l*4 0;
  }

  &--home {
    background: url(../images/backgrounds/hero--home.jpg);
    background-size: cover;
    background-position: 50% 20%;
  }

  h1,
  .text-long h1,
  h2,
  h3 {
    margin: 0 auto;
    font-size: 3rem;
    line-height: 1.25;
    color: $c-white;
  }
}
