.branding__site-name {
  height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: $c-primary;
  border-bottom: 7px solid transparent;
  a {
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  &:hover, &:focus {
    border-bottom: 7px solid $c-secondary;
    background-color: $c-primary;
  }
}