.info-box {
  background-color: $c-orange-pale;
  margin-bottom: 2%;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
}

.info-box__title {
  @include heading-medium($font-size: 1.5rem);

  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $c-orange;
  padding-bottom: 1rem;
}

.info-box__link {
  border-bottom: 1px solid transparent;
  color: $black;
  text-decoration: none;

  &:hover,
  &:active {
    @include link;
  }
}
